kind: ConfigMap
metadata:
  name: dante
apiVersion: v1
data:
  danted.conf: |-
    logoutput: stdout
    user.privileged: root
    user.unprivileged: nobody
    internal: 0.0.0.0 port=1080
    external: target
    socksmethod: none
    clientmethod: none
    client pass {
        from: 0.0.0.0/0 to: 0.0.0.0/0
    }
    socks pass {
        from: 0.0.0.0/0 to: 0.0.0.0/0
    }
