kind: ConfigMap
metadata:
  name: resolv
apiVersion: v1
data:
  resolv.conf: |-
    search thm.svc.cluster.local svc.cluster.local cluster.local za.tryhackme.com
    nameserver 10.200.14.101
    nameserver 10.43.0.10
    options ndots:5
---
kind: ConfigMap
metadata:
  name: dante
apiVersion: v1
data:
  danted.conf: |-
    logoutput: stdout
    user.privileged: root
    user.unprivileged: nobody
    internal: 0.0.0.0 port=1080
    external: enumad
    socksmethod: none
    clientmethod: none
    client pass {
        from: 0.0.0.0/0 to: 0.0.0.0/0
    }
    socks pass {
        from: 0.0.0.0/0 to: 0.0.0.0/0
    }
