apiVersion: apps/v1
kind: Deployment
metadata:
  name: kali
spec:
  template:
    spec:
      volumes:
        - name: resolv
          configMap:
            name: resolv
            items:
              - key: resolv.conf
                path: resolv.conf
        - name: danted
          configMap:
            name: dante
            items:
              - key: danted.conf
                path: danted.conf
        - name: vpn-config
          secret:
            secretName: ad-vpn-config
            items:
              - key: vpn.ovpn
                path: vpn.ovpn
      containers:
        - name: kali
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              subPath: resolv.conf
        - name: c2
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              subPath: resolv.conf
        - name: openvpn
          volumeMounts:
            - mountPath: /etc/resolv.conf
              name: resolv
              subPath: resolv.conf
            - mountPath: /etc/danted.conf
              name: danted
              subPath: danted.conf
